<body class="bg-sage">
  <div class="justify-items-center text-center pt-10">
    <h2 class="font-playfair font-bold text-5xl">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="flex flex-col font-garamond pt-4">
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field pt-4">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field pt-4">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="actions pt-4">
            <button class="bg-mustard py-2 px-4 border-4 pt-2">
             <%= f.submit "Sign up" %>
            </button>
          </div>
        <% end %>
      </div>
    <%= render "devise/shared/links" %>
  </div>
</body>
